<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Raleatz</title>


    <!-- Bootstrap CSS / Color Scheme -->
    <link rel="stylesheet" href="assets/css/journal.css" id="theme-color">
</head>
<body>

<!--navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<!--Generic section-->
<section class="py-7 bg-dark" id="test">
    <div class="container">
        <div class="row pt-3 pricing-table mx-auto">
            <div class="col-12 mx-auto">

                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">What would you like to do?</h2>
                            <div class="text-muted font-weight-medium mt-2"> </div>
                                <div class="btn-group-sm" role="group" aria-label="Basic example">
                                    <a href='/input'class="btn btn-primary">Add a Restaurant</a>
                                    <br><br>
                                    <a href='/search'class="btn btn-primary">Decide Where to Eat</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>




<!--scroll to top-->
<div class="scroll-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>


</body>
</html>