<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Raleatz</title>

    <link rel="stylesheet" href="assets/css/journal.min.css" id="theme-color">
<script>
    $(function () {
      $('.example-popover').popover({
        container: 'body'
      })
    })
</script>
</head>
<body>

<!--navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Raleatz</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/input">Add a Restaurant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search">Decide Where to eat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Raleatz</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class = container>
    <h1 class="text-primary"> Add a Restaurant</h1>
<!--Begin sliders-->
    <form method="post" action="save_input">
    <div class="form-group">
      <fieldset>
        <fieldset class="form-group">
            <legend class="mt-4">The Basics</legend>
              <label for="name" class="form-label mt-4">Resturant Name</label>
              <input class="form-control" id="name">
              <label for="cuisine" class="form-label mt-4">Cuisine</label>
              <select class="form-select" id="cuisine">
                <option value="Select">Select</option>
                <option value="Mexican">Italian</option>
                <option value="American">American</option>
                <option value="Mexican">Mexican</option>
                <option value="Chinese">Chinese</option>
                <option value="Japanese">Japanese</option>
              </select>
        </fieldset>
            <fieldset class="form-group">
                <label for="location" class="form-label mt-4">Location</label>
                  <select class="form-select" id="location">
                    <option value="Select">Select</option>
                    <option value="North Hills">North Hills</option>
                    <option value="Five Points">Five Points</option>
                    <option value="Glenwood South<">Glenwood South</option>
                    <option value="Downtown">Downtown</option>
                    <option value="Other">Other</option>
                  </select>
            </fieldset>
          <legend class="mt-4">Tell me more...</legend>
          <fieldset class = "form-group">
            <label for="cocktails" class="form-label">Cocktails</label>
            <input type="range" class="form-range" min="0" max="5" step="1" id="cocktails">
            <label for="beer" class="form-label">Beer</label>
            <input type="range" class="form-range" min="0" max="5" step="1" id="beer">
            <label for="vibe" class="form-label">Vibe</label>
            <input type="range" class="form-range" min="0" max="5" step="1" id="food">
            <label for="seating" class="form-label">Seating</label>
            <input type="range" class="form-range" min="0" max="5" step="1" id="seating">
            <label for="price" class="form-label"> Price</label>
            <input type="range" class="form-range" min="0" max="5" step="1" id="price">
        </fieldset>
      <fieldset class = "form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
      </fieldset>
    </div>
    </form>
</div>



<!--scroll to top-->
<div class="scroll-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>


</body>
</html>